variable "region" {
  default = "ap-northeast-2"
}

variable "awscli_profile" {
  default = "default"
}

variable "prefix" {
  default = "change me!"
}

variable "enable_ebs_csi_driver" {
  default = false
}

variable "enable_efs_csi_driver" {
  default = false
}